body,
html {
  font-family: "Bebas Neue", serif;
  font-weight: 400;
  font-style: normal;
  background-color: #e6e0e0;
  margin: 0;
  height: 100vh;
}
#calc-screen {
  display: flex;
  flex-direction: column;
  margin: 2rem;
  width: 27rem;
  height: 12rem;
  background-color: rgb(105, 154, 154);
  border-radius: 23px;
  box-shadow: -9px -9px 1px rgb(117, 177, 177) inset;
}
#table-container {
  border-radius: 23px;
  box-shadow: 9px 9px 1px rgb(177, 198, 198);
  background-color: rgb(195, 212, 212);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#container {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#number-table {
  font-size: 2rem;
  text-align: center;
  border-collapse: separate;
  width: 28rem;
  height: 18rem;
  border-spacing: 1rem;
  margin-bottom: 2rem;
}

p {
  transition: 0.3s ease;
  text-align: end;
  margin-top: 3px;
  margin-bottom: 4px;
  margin-right: 15px;
}
#second-num {
  margin: 0;
  padding-top: 1rem;
  padding-right: 2rem;
  transition: 0.3s ease;
  font-size: 1.9rem;
  color: rgb(220, 222, 225);
}
#first-num {
  padding-top: 0.4rem;
  padding-right: 2rem;
  margin: 0;
  transition: 0.3s ease;
  font-size: 4.5rem;
  color: aliceblue;
}
#operator {
  margin: 0;
  padding-right: 2rem;
  transition: 0.3s ease;
  font-size: 1.2rem;
  color: aliceblue;
}
#number-table td {
  cursor: pointer;
  box-shadow: 1px 9px 1px rgb(177, 198, 198);
  padding: 1rem;
  text-align: center;
  border-radius: 3rem;
  transition: 0.3s ease;
}
#number-table td:hover {
  transform: scale(1.07);
}
td[data-id="special"] {
  background-color: rgb(107, 175, 180);
  color: #e9e1e1;
}
td[data-id="equals"] {
  background-color: rgb(213, 49, 49);
  color: #e9e1e1;
}
#number-table tr {
  color: rgb(125, 134, 134);
  background-color: #f2eaea;
}
.active {
  animation: slice 0.3s;
  display: inline-block;
  margin: 0;
}
.active-operator {
  animation: slice 0.3s;
}
.delete {
  animation: del 0.2s;
}
@keyframes del {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes slice {
  0% {
    transform: scale(0.1);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(1);
  }
}
#show-history {
  position: absolute;
  color: #e9e1e1;
  margin: 0;
  display: flex;
  font-size: 1rem;
  padding-top: 1rem;
  padding-left: 1.5rem;
  transition: 0.3s ease;
  cursor: pointer;
}
#show-history:hover {
  transform: scale(0.9);
}
#history-table {
  display: none;
}
#history-table.active {
  transform: translate(-50%, -50%);
  position: fixed;
  top: 50%;
  left: 50%;
  box-shadow: -9px -9px 1px rgb(188, 188, 173) inset;
  z-index: 1;
  padding: 10px;
  width: 40rem;
  height: 50rem;
  display: flex;
  flex-direction: column;
  background-color: rgb(255, 229, 194);
  border-radius: 20px;
}
#btn-history {
  display: flex;
  margin-top: auto;
  padding: 2rem;
}

#history-text {
  margin: 2rem;
  color: rgb(221, 176, 103);
  text-align: center;
  font-size: 4rem;
  margin-bottom: 0rem;
}
#result-text {
  font-size: 2rem;
  color: rgb(221, 176, 103);
  text-align: center;
  margin: 2rem;
}
#result-text div {
  padding: 0.4rem;
}
.btn {
  box-shadow: 9px 9px 1px rgb(188, 188, 173);
  display: block;
  font-size: 1.5rem;
  font-family: "Bebas Neue", serif;
  color: rgb(221, 176, 103);
  margin: 0 auto;
  width: 190px;
  height: 80px;
  border: none;
  background-color: antiquewhite;
  border-radius: 17px;
  transition: 0.3s ease;
}
.btn:hover {
  transform: scale(0.9);
  box-shadow: 1px 7px 1px rgb(188, 188, 173);
  background-color: rgb(237, 226, 211);
}
@media (max-width: 1000px) {
  html,
  body {
    background-color: rgb(195, 212, 212);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #table-container {
    border-radius: 0px;
    box-shadow: none;
    display: flex;
    width: 100%;
    height: 100%;
  }
  #calc-screen {
    width: 22rem;
    height: 18rem;
  }

  #number-table {
    font-size: 2rem;
    text-align: center;
    border-collapse: separate;

    width: 25rem;
    height: 18rem;
    border-spacing: 1rem;
    margin-bottom: 2rem;
  }

  #history-table.active {
    width: 100%;
    height: 100%;
  }
  .btn {
    width: 9rem;
  }
}
